*{
	margin: 0;
	padding: 0;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.frist-continer{
	height: 400px;
	width: 100%;
	text-align:center;
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}
.contnier{
	background-color: black;
	width: 100%;
	margin: 0 auto;
	line-height: 50px;
	position: relative;

	
	

}
.contnier h1{
	color: white;
	text-align: center;
	
}

.contnier a{
	 padding: 14px 16px;
	display: flex;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	
	display: inline;

	
}
#sign-up{
  float: right;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 13px 28px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
  margin-top: 5px;
  cursor: pointer;
  
}
.contnier a:hover{
	background-color: gray;
	border-radius: 5px;
}
#sign-up:hover{
	background-color: seagreen;
}
@media screen and (max-width: 600px){
	.contnier{
		width: 100%;
		background-color: black;
	}
	.contnier a{
		display: block;
		text-align: center;
	}
	.contnier a:hover{
		background-color: gray;
		border-radius: 8px;
	}
	.v1{
		width: 100%;
		display: block;
		text-align: center;
	}
	.pragrahp{
		width: 100%;
		display: block;
		text-align: center;
	}

}
.img-ol{
	height: 500px;
	width: 99.50%;
	overflow: scroll;
	border: 3px solid red;
	
}
.v1{
	float: left;
}
.pragrahp{
	overflow: auto;
	box-sizing: border-box;
	font-size: 1.3rem;
	text-align: center;
	float: right;
}
p{
	font-size: 1.2rem;
	text-align: justify;
	margin-left: 5px;
	margin-right: 5px;
	
}
.img-ol:after{
	content: '';
	display: table;
	clear: both;
}

.secend-continer{
	height: 450px;
	width: 100%;
	background-color: rgba(12, 30, 126, 1);

}

.product{
	box-sizing: border-box;
	background-color: red;
	border: 2px solid black;
	display: inline;
	height: 280px;
	width: 330px;
	float: left;
}

footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1050px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1000px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:850px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:460px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

